.root {
  position: absolute;
  right: 16px;
  transform: translateY(-55%);
  display: flex;
  gap: 32px;
}

.root .image-small {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.root .image {
  border-radius: var(--border-radius);
  object-fit: cover;
}
