.root {
  color: var(--color-white);
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  transition: all ease-out 100ms;
  display: block;
}

.root:active {
  transform: translateY(5%);
}

.small {
  padding: 10px 24px;
}
.medium {
  padding: 16px 32px;
}
.large {
  padding: 24px 48px;
}

/* SOLID VARIANT */
.solid.blue-1 {
  background-color: var(--color-blue-1);
  color: var(--color-white);
}
.solid.blue-2 {
  background-color: var(--color-blue-2);
  color: var(--color-white);
}
.solid.blue-3 {
  background-color: var(--color-blue-3);
  color: var(--color-white);
}
.solid.blue-4 {
  background-color: var(--color-blue-4);
  color: var(--color-white);
}
.solid.yellow {
  background-color: var(--color-yellow);
  color: var(--color-blue-4);
}
.solid.white {
  background-color: var(--color-white);
  color: var(--color-blue-4);
}
.solid.grey {
  background-color: var(--color-grey);
  color: var(--color-blue-4);
}
.solid.grey-2 {
  background-color: var(--color-grey-2);
  color: var(--color-blue-4);
}
.solid.grey-3 {
  background-color: var(--color-grey-3);
  color: var(--color-white);
}
.solid.green {
  background-color: var(--color-green);
  color: var(--color-white);
}

/* SOLID GREY VARIANT */
.solid-grey {
  background-color: var(--color-grey);
  color: var(--color-blue-4);
}
.solid-grey.selected {
  color: var(--color-white);
}
.solid-grey.blue-1.selected {
  background-color: var(--color-blue-1);
}
.solid-grey.blue-2.selected {
  background-color: var(--color-blue-2);
}
.solid-grey.blue-3.selected {
  background-color: var(--color-blue-3);
}
.solid-grey.blue-4.selected {
  background-color: var(--color-blue-4);
}
.solid-grey.yellow.selected {
  background-color: var(--color-yellow);
  color: var(--color-blue-4);
}
.solid-grey.white.selected {
  background-color: var(--color-white);
  color: var(--color-blue-4);
}
.solid-grey.grey.selected {
  background-color: var(--color-grey);
  color: var(--color-blue-4);
}
.solid-grey.grey-2.selected {
  background-color: var(--color-grey-2);
  color: var(--color-blue-4);
}
.solid-grey.grey-3.selected {
  background-color: var(--color-grey-3);
  color: var(--color-white);
}
.solid-grey.green.selected {
  background-color: var(--color-green);
  color: var(--color-white);
}

/* OUTLINE VARIANT */
.outline {
  border-width: var(--border-width);
  border-style: var(--border-style);
  background-color: transparent;
}
.outline.blue-1 {
  border-color: var(--color-blue-1);
  color: var(--color-blue-1);
}
.outline.blue-2 {
  border-color: var(--color-blue-2);
  color: var(--color-blue-2);
}
.outline.blue-3 {
  border-color: var(--color-blue-3);
  color: var(--color-blue-3);
}
.outline.blue-4 {
  border-color: var(--color-blue-4);
  color: var(--color-blue-4);
}
.outline.yellow {
  border-color: var(--color-yellow);
  color: var(--color-yellow);
}
.outline.white {
  border-color: var(--color-white);
  color: var(--color-white);
}
.outline.grey {
  border-color: var(--color-grey);
  color: var(--color-grey);
}
.outline.grey-2 {
  border-color: var(--color-grey-2);
  color: var(--color-grey-2);
}
.outline.grey-3 {
  border-color: var(--color-grey-3);
  color: var(--color-grey-3);
}
.outline.green {
  border-color: var(--color-green);
  color: var(--color-green);
}

/* GHOST VARIANT */
.ghost {
  font-weight: 600;
  background-color: transparent;
}
.ghost.blue-1 {
  color: var(--color-blue-1);
}
.ghost.blue-2 {
  color: var(--color-blue-2);
}
.ghost.blue-3 {
  color: var(--color-blue-3);
}
.ghost.blue-4 {
  color: var(--color-blue-4);
}
.ghost.yellow {
  color: var(--color-yellow);
}
.ghost.white {
  color: var(--color-white);
}
.ghost.grey {
  color: var(--color-grey);
}
.ghost.grey-2 {
  color: var(--color-grey-2);
}
.ghost.grey-3 {
  color: var(--color-grey-3);
}
.ghost.green {
  color: var(--color-green);
}
.ghost.blue-1.selected {
  background-color: var(--color-blue-1-10);
}
.ghost.blue-2.selected {
  background-color: var(--color-blue-2-10);
}
.ghost.blue-3.selected {
  background-color: var(--color-blue-3-10);
}
.ghost.blue-4.selected {
  background-color: var(--color-blue-4-10);
}
.ghost.yellow.selected {
  background-color: var(--color-yellow-10);
}
.ghost.white.selected {
  background-color: var(--color-white-10);
}
.ghost.grey.selected {
  background-color: var(--color-grey-10);
}
.ghost.grey-2.selected {
  background-color: var(--color-grey-2-10);
}
.ghost.grey-3.selected {
  background-color: var(--color-grey-3-10);
}
.ghost.green.selected {
  background-color: var(--color-green-10);
}

/* TEXT VARIANT */
.text {
  background-color: transparent;
  padding: 0px;
}
.text.blue-1 {
  color: var(--color-blue-1);
}
.text.blue-2 {
  color: var(--color-blue-2);
}
.text.blue-3 {
  color: var(--color-blue-3);
}
.text.blue-4 {
  color: var(--color-blue-4);
}
.text.yellow {
  color: var(--color-yellow);
}
.text.white {
  color: var(--color-white);
}
.text.grey {
  color: var(--color-grey);
}
.text.grey-2 {
  color: var(--color-grey-2);
}
.text.grey-3 {
  color: var(--color-grey-3);
}
.text.green {
  color: var(--color-green);
}

/* STORYBOOK */
.sb-root {
  display: flex;
  align-items: center;
  gap: 16px;
}
