.root {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.root.scrolling .separator {
  animation: to-scroll ease-out 500ms 500ms forwards;
}

.root .separator {
  width: 1px;
  height: 20px;
  background-color: var(--color-white-30);
}

.root .country {
  display: flex;
  align-items: center;
  gap: 10px;
}

.root .flag {
  border-radius: 50%;
}

@keyframes to-scroll {
  0% {
    background-color: var(--color-white-30);
  }
  100% {
    background-color: var(--color-blue-4-30);
  }
}
