.root {
  font-family: "Jost Variable", sans-serif;
  margin: 0px;
  padding: 0px;
  font-style: normal;
}

h1.root {
  font-size: 60px;
  font-weight: 600;
  line-height: normal;
}

h2.root {
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
}
h3.root {
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
}

h4.root {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}
h5.root {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

p.root,
p.md {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

p.sm {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

p.xs {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.root.bold {
  font-weight: 600;
}
.root.normal {
  font-weight: 500;
}
.root.light {
  font-weight: 400;
}
.root.lighter {
  font-weight: 300;
}

.blue-1 {
  color: var(--color-blue-1);
}
.blue-2 {
  color: var(--color-blue-2);
}
.blue-3 {
  color: var(--color-blue-3);
}
.blue-4 {
  color: var(--color-blue-4);
}
.yellow {
  color: var(--color-yellow);
}
.white {
  color: var(--color-white);
}
.grey {
  color: var(--color-grey);
}
.grey-2 {
  color: var(--color-grey-2);
}
.grey-3 {
  color: var(--color-grey-3);
}
.green {
  color: var(--color-green);
}
