.root {
  height: var(--height-hero);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.root .bg {
  background-image: url("../../assets/hero-bg.webp");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
