.root {
  height: var(--height-hero);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.root .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  margin-top: 100px;
}

.root .title,
.root .subtitle {
  color: var(--color-white);
}

.root .title span:first-of-type {
  color: var(--color-yellow);
}

.root .images {
  position: absolute;
  right: 16px;
  transform: translateY(-55%);
  display: flex;
  gap: 32px;
}

.images .image-small {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.images .image {
  border-radius: var(--border-radius);
  object-fit: cover;
}

.search {
  position: absolute;
  bottom: -60%;
  display: flex;
  background-color: var(--color-white);
  padding: 12px;
  width: 900px;
  border-radius: var(--border-radius);
  box-shadow: 0px 20px 40px 0px rgba(5, 16, 54, 0.07);
  align-items: center;
  justify-content: space-between;
}

.search .input {
  display: flex;
  width: calc(80% / 3);
  flex-direction: column;
  border-left: var(--border-width) var(--color-grey-2) var(--border-style);
  padding-left: 32px;
  gap: 8px;
}

.search .input:first-child {
  border: none;
  padding-left: 12px;
}

.search button {
  width: 20%;
}

.search input {
  background-color: transparent;
  border: none;
  width: 100%;
}

.search input:focus {
  outline: none;
}

.root .bg {
  background-image: url("../../assets/hero-bg.webp");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
