.root {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dots {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 4px;
}

.dot {
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--color-grey-2);
  border-radius: 50%;
  cursor: pointer;
}

.dot-selected {
  width: 10px;
  height: 10px;
  background-color: var(--color-blue-1);
}
