.root .container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}
.root .currency-country {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.root .separator {
  width: 1px;
  height: 20px;
  background-color: var(--color-white-30);
}

.root .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.root .country {
  display: flex;
  align-items: center;
  gap: 10px;
}

.root .flag {
  border-radius: 50%;
}

.sb-root {
  height: var(--height-hero);
  position: relative;
}

.sb-root .sb-root-bg {
  background-image: url("../../assets/hero-bg.webp");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
