.root {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
}

.root.scrolling {
  animation: to-bg forwards 500ms ease-out 500ms;
  color: var(--color-blue4);
}

.root .container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}

.root .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.root .hidden {
  animation: to-hidden forwards 500ms ease-out;
}

.root .show {
  animation: to-show forwards 500ms ease-out;
}

.scrolling a,
.scrolling button {
  transition: all 500ms ease-out 500ms;
}

@keyframes to-hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes to-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes to-bg {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--color-white);
    box-shadow: 0px 20px 40px 0px rgba(5, 16, 54, 0.1);
  }
}

.sb-root {
  height: var(--height-hero);
  position: relative;
}

.sb-root .sb-root-bg {
  background-image: url("../../assets/hero-bg.webp");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
