.root {
}

.root .container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}

.sb-root {
  height: var(--height-hero);
  position: relative;
}

.sb-root .sb-root-bg {
  background-image: url("../../assets/hero-bg.webp");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
