:root {
  --color-blue-1: rgba(53, 84, 209, 1);
  --color-blue-2: rgba(22, 60, 140, 1);
  --color-blue-3: rgba(19, 53, 123, 1);
  --color-blue-4: rgba(5, 16, 54, 1);
  --color-yellow: rgba(248, 212, 72, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-grey: rgba(245, 245, 245, 1);

  --color-blue-1-10: rgba(53, 84, 209, 0.1);
  --color-blue-2-10: rgba(22, 60, 140, 0.1);
  --color-blue-3-10: rgba(19, 53, 123, 0.1);
  --color-blue-4-10: rgba(5, 16, 54, 0.1);
  --color-yellow-10: rgba(248, 212, 72, 0.1);
  --color-white-10: rgba(255, 255, 255, 0.1);

  --color-blue-1-20: rgba(53, 84, 209, 0.2);
  --color-blue-2-20: rgba(22, 60, 140, 0.2);
  --color-blue-3-20: rgba(19, 53, 123, 0.2);
  --color-blue-4-20: rgba(5, 16, 54, 0.2);
  --color-yellow-20: rgba(248, 212, 72, 0.2);
  --color-white-20: rgba(255, 255, 255, 0.2);
}
